.app{
  background-color: hsl(31, 87%, 49%);
  min-height: 100vh;
  text-align: center;
  margin-top: 0;
}

.custom-select {
  font-family: Arial;
  width: 20em;
  text-align: center;
  margin: 10px;
  font-size: calc(10px + 2vmin);
  color: rgb(16, 15, 14);
}

.select-selected {
  background-color: DodgerBlue;
}